<div id="slideshow">
   <div class="container">
      <p class="text-uppercase">No one provides legal funding faster</p>

      <h1>Let Us Cover<br> Costs of Your Case</h1>

      <p class="gray text-uppercase">We will cover the bills waiting for your case to settle</p>

      <div class="btns text-uppercase">
         <a class="btn btn-yellow" href="#">Apply in Seconds</a> <a class="btn btn-blue" href="#how-it-works">How It Works</a>
      </div>
      <!-- .btns -->
   </div>
   <!-- .container -->
</div>
<!-- #slideshow -->

<div class="main-section">
   <div class="container" id="apply">
      <div class="row row-top">
         <div class="col-md-4">
            <a class="panel-a a1" data-toggle="modal" data-target="#lendingform">
               <div class="panel-inner">
                  <h1>Auto<br> Accident</h1>
               </div>
               <!-- .panel-inner -->
            </a>
            <!-- .panel-a -->
         </div>
         <!-- .col-md-4 -->

         <div class="col-md-4">
            <a class="panel-a a2" href="#">
               <div class="panel-inner">
                  <h1>Workers<br> Camp</h1>
               </div>
               <!-- .panel-inner -->
            </a>
            <!-- .panel-a -->
         </div>
         <!-- .col-md-4 -->

         <div class="col-md-4">
            <a class="panel-a a3" href="#">
               <div class="panel-inner">
                  <h1>Accidental<br> Injury</h1>
               </div>
               <!-- .panel-inner -->
            </a>
            <!-- .panel-a -->
         </div>
         <!-- .col-md-4 -->
      </div>
      <!-- .row -->

      <div class="row">
         <div class="col-md-4">
            <a class="panel-a a4" href="#">
               <div class="panel-inner">
                  <h1>Skip &<br> Fall</h1>
               </div>
               <!-- .panel-inner -->
            </a>
            <!-- .panel-a -->
         </div>
         <!-- .col-md-4 -->

         <div class="col-md-4">
            <a class="panel-a a5" href="#">
               <div class="panel-inner">
                  <h1>Civil<br> Rights</h1>
               </div>
               <!-- .panel-inner -->
            </a>
            <!-- .panel-a -->
         </div>
         <!-- .col-md-4 -->

         <div class="col-md-4">
            <a class="panel-a a6" href="#">
               <div class="panel-inner">
                  <h1>Construction<br> Negligency</h1>
               </div>
               <!-- .panel-inner -->
            </a>
            <!-- .panel-a -->
         </div>
         <!-- .col-md-4 -->
      </div>
      <!-- .row -->

      <div class="row">
         <div class="col-md-4">
            <a class="panel-a a7" href="#">
               <div class="panel-inner">
                  <h1>General<br> Negligency</h1>
               </div>
               <!-- .panel-inner -->
            </a>
            <!-- .panel-a -->
         </div>
         <!-- .col-md-4 -->

         <div class="col-md-4">
            <a class="panel-a a8" href="#">
               <div class="panel-inner">
                  <h1>Pedestrian<br> Injury</h1>
               </div>
               <!-- .panel-inner -->
            </a>
            <!-- .panel-a -->
         </div>
         <!-- .col-md-4 -->

         <div class="col-md-4">
            <a class="panel-a a9" href="#">
               <div class="panel-inner">
                  <h1>Motor Vehicle<br> & Passenger Injury</h1>
               </div>
               <!-- .panel-inner -->
            </a>
            <!-- .panel-a -->
         </div>
         <!-- .col-md-4 -->
      </div>
      <!-- .row -->
   </div>
   <!-- .container -->
</div>
<!-- .main-section -->

<div id="how-it-works" class="how-it-works">
   <div class="container">
      <header>
         <h1 class="text-center">How It Works</h1>
      </header>

      <div class="row">
         <div class="col-md-4">
            <div class="info first-bg">
               <h3>Apply Now</h3>

               <p>Lorem ipsum</p>
            </div>
            <!-- .info -->
         </div>
         <!-- .col-md-4 -->

         <div class="col-md-4">
            <div class="info second-bg">
               <h3>Get Approval</h3>

               <p>Lorem ipsum</p>
            </div>
            <!-- .info -->
         </div>
         <!-- .col-md-4 -->

         <div class="col-md-4">
            <div class="info third-bg">
               <h3>Sign Contract</h3>

               <p>Lorem ipsum</p>
            </div>
            <!-- .info -->
         </div>
         <!-- .col-md-4 -->
      </div>
      <!-- .row -->
   </div>
   <!-- .container -->
</div>
<!-- .how-it-works -->
