<ul class="nav navbar-nav">
  <li><a (click)="setTitle( 'LawLending' )" routerLink="/welcome" routerLinkActive="active">Home</a></li>
  <li><a routerLink="/welcome" fragment="how-it-works">How It Works</a></li>
  <li><a>Apply</a></li>
  <li><a (click)="setTitle( 'LawLending - Resources' )" routerLink="/resources" routerLinkActive="active">Resources</a></li>
  <li><a (click)="setTitle( 'LawLending - Attorneys' )" routerLink="/attorneys" routerLinkActive="active">Attorneys</a></li>
  <li id="login"><a data-toggle="modal" data-target="#loginform">Login</a></li>
</ul>
<!-- .nav -->
