<!-- Modal starts here -->
<div id="lendingform" class="modal fade text-center" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <header>
               <img src="../assets/images/modal-logo.png" alt="logo">
            </header>

            <app-lendingform></app-lendingform>
         </div>
         <!-- .modal-body -->
      </div>
      <!-- .modal-content -->
   </div>
   <!-- .modal-dialog -->
</div>
<!-- #lendingform -->

<div id="loginform" class="modal fade text-center" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <header>
               <img src="../assets/images/modal-logo.png" alt="logo">
            </header>

            <app-login></app-login>
         </div>
         <!-- .modal-body -->
      </div>
      <!-- .modal-content -->
   </div>
   <!-- .modal-dialog -->
</div>
<!-- #loginform -->

<div id="fpform" class="modal fade text-center" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <header>
               <img src="../assets/images/modal-logo.png" alt="logo">
            </header>

            <app-forgotpassword></app-forgotpassword>
         </div>
         <!-- .modal-body -->
      </div>
      <!-- .modal-content -->
   </div>
   <!-- .modal-dialog -->
</div>
<!-- #fpform -->
