<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"> 
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <!--<img  src="../img/logo.png" class="img-responsive" />-->
                        <img  src="../img/logo-lender-match.png" class="img-responsive" />
                    </a>
                    <!--<span class="pull-left logo-title">
                        LenderMatch
                    </span>-->
                </div>
                <div class="collapse navbar-collapse">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> EN <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                        </ul>
                    </li>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Lender</a></li>
                        <li><a href="#borrower">Borrower</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#terms">Terms</a></li>
                        <li><a href="#requests">Requests</a></li>
                        <li><a href="#login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="details-investor-bg-image">
        </div>
        <div class="container details-investor-security-questions">
            <div class="container pull-left">
                <div class="row pull-left">
                    <div class="col-md-12 col-md-12-offset
                                col-xs-12 col-xs-12-offset h-title">
                        <h1> Investor details - security questions </h1>
                    </div>
                </div>
            </div>

            <div class="container pull-left">
                <div class="row pull-left">
                    <div class="col-md-8 col-xs-12 desc">
                        <p> Each time you login in the future you will be abled one
                            of the there security questions below.
                        </p>
                    </div>
                </div>
            </div>

            <div id="address">
                    <div class="container">
                        <div class="row pull-left">
                            <div class="col-md-12 col-xs-12 question">
                                <span> Where did you grow up?* </span>
                            </div>
                        </div>
                    </div>
                    <div class="container pull-left">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <input id="txt" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row pull-left">
                            <div class="col-md-12 col-xs-12 question">
                                <span> What school did you attend when you were 10 years old?* </span>
                            </div>
                        </div>
                    </div>
                    <div class="container pull-left">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <input id="txt" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row pull-left">
                            <div class="col-md-12 col-xs-12 question">
                                <span>What was the name of your best friend at school?* </span>
                            </div>
                        </div>
                    </div>
                    <div class="container pull-left">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <input id="txt" type="text"/>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="container pull-left">
                <div class="row">
                    <div class="col-md-6 col-xs-6 remember">
                        <span> Please remember your answers to the security 
                            questions, they are case-sensitive. 
                        </span>
                    </div>
                </div>
            </div>
            <div class="container pull-left">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <button type="submit" class="btn-continue"> CONTINUE </button>
                    </div>
                </div>
            </div>
        </div>
        <footer class="text-center">
            <p>&copy;2017, LenderMatch, All right reserved. Terms of Use. Privacy Policy </p>
        </footer>
    </body>
</html>