<wizard>
  <wizard-step>
    <app-state></app-state>
  </wizard-step>

  <wizard-step>
    <app-money></app-money>
  </wizard-step>

  <wizard-step>
    <app-attorney></app-attorney>
  </wizard-step>

  <wizard-step>
    <app-yourname></app-yourname>
  </wizard-step>

  <wizard-step>
    <app-youremail></app-youremail>
  </wizard-step>

  <wizard-step>
    <app-accidenttime></app-accidenttime>
  </wizard-step>

  <wizard-step>
    <app-contact></app-contact>
  </wizard-step>

  <wizard-step>
    <app-phone></app-phone>
  </wizard-step>

  <wizard-step>
    <app-confirmation></app-confirmation>
  </wizard-step>
</wizard>
