<form [formGroup]="fpForm" (ngSubmit)="submitForm(fpForm)">
   <div class="form-row">
      <h2>Forgot Password?</h2>
   </div>
   <!-- .form-row -->

   <div class="form-row text-center">
      <p>Your email address</p>
      <input type="email" formControlName="fpemail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      <p *ngIf="fpForm.get('fpemail').invalid&&fpForm.get('fpemail').touched" class="alert-error"><em>Please enter a valid email address</em></p>
   </div>
   <!-- .form-row -->

   <div class="form-row">
      <button type="submit" class="form-btn" [disabled]="!fpForm.valid">Submit</button>
   </div>
   <!-- .form-row -->
</form>
