<div class="container-fluid">
   <div class="form-row text-center">
      <h2>Congrats</h2>
      <p>Based on what we know about your case, you may qualify to receive money, in your hands, as early as today!</p>
      <p>Once you've submitted your application you must contact your Attorney and tell them they have your permission to speak to us about your case.</p>
   </div>
   <!-- .form-row -->

   <div class="form-row">
      <button class="form-btn" data-dismiss="modal">Close</button>
   </div>
   <!-- .form-row -->
</div>
<!-- .container-fluid -->
