/*** Common Elements ***/
@font-face {
  font-family: 'Publico';
  src: url("assets/fonts/publicoheadlineweb-medium.eot?#iefix") format("embedded-opentype"), url("assets/fonts/publicoheadlineweb-medium.woff") format("woff"), url("assets/fonts/publicoheadlineweb-medium.ttf") format("truetype"), url("assets/fonts/publicoheadlineweb-medium.svg#svgFontName") format("svg");
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Arimo" !important;
  margin-bottom: 207px;
  padding: 0!important;
}

body a {
  color: #cb9859;
  cursor: pointer;
}

.btn {
  color: #FFF !important;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 0 !important;
  padding: 10px 30px !important;
  transition: background 0.25s ease-out 0s;
}

.btn:hover {
  background-color: #CCC;
  color: #000 !important;
}

.btn-yellow {
  background-color: #cb9859;
}

.btn-blue {
  background-color: #272f54;
}

p.alert-error  {
  color: #a94442!important;
}

input[type="radio"].toggle {
  display: none;
}

input[type="radio"].toggle + label {
  width: 100%;
  display: block;
}

.toggle-btn {
  background-color: #272f54;
  color: #FFF;
  font-weight: normal;
  text-transform: uppercase;
  padding: 6px 10px;
  margin: auto;
  width: 70%!important;
  border: 2px solid #272f54;
  cursor: pointer;
  transition: all 0.4s ease;
}

.toggle-btn:hover {
  background-color: #FFF;
  border: 2px solid #272f54;
  color: #272f54;
}

.next-icon {
  font-size: 6px;
  vertical-align: middle;
  margin-left: 1px;
}

/*** Pagination ***/
.paginate ul {
  padding: 20px 0;
  margin: 0;
}

.paginate ul li.current {
  background: #272f54;
}

/*** Loading View ***/
.loading {
  padding: 100px 10px 0 10px;
}

.loading h3 {
  font-family: 'Publico';
  color: #272f54;
  margin: 0;
}

/*** Header ***/
.main-header {
  overflow: hidden;
  border-bottom: 2px solid #cb9859;
  z-index: 999;
  position: fixed;
  padding: 20px 0;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header_nav--small {
  background-color: #272f54;
  padding: 5px 0;
}

.header_nav--small .logo img {
  width: 100%;
}

.main-header .navbar {
  margin-bottom: 0 !important;
}

.main-header .navbar a {
  color: #FFF;
  font-weight: bold;
  padding: 15px 0 15px 25px!important;
}

.main-header .navbar a:hover,
.main-header .navbar li a.active {
  background: transparent !important;
  color: #cb9859;
}

li#login a {
  color: #cb9859;
}

li#login a:hover {
  color: #FFF;
}

.main-header .navbar-toggle {
  margin-right: 0 !important;
}

.main-header .navbar-toggle .icon-bar {
  background-color: #FFF;
}

/*** mobileMenu ***/
#mobileMenu {
  display: none !important;
}

/*** Slideshow ***/
#slideshow {
  background-image: url(assets/images/slideshow-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #FFF;
}

#slideshow .container {
  padding: 200px 0;
}

#slideshow h1 {
  font-size: 65px;
  font-family: 'Publico';
  margin: 0;
}

#slideshow p {
  margin: 20px 0;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #cb9859;
}

#slideshow p.gray {
  color: #CCC;
  letter-spacing: 0;
}

/*** Pop-up Items ***/
.main-section {
  background-color: #DDD;
}

.main-section .container {
  padding: 10px 0;
}

.main-section .container .row-top {
  margin-top: -100px;
}

a.panel-a {
  display: block;
  background-color: #272f54;
  color: #FFF !important;
  border-bottom: 7px solid #cb9859;
  padding: 30px 20px 80px;
  margin: 15px 0;
  transition: background 0.25s ease-out 0s;
  background-repeat: no-repeat;
  background-position: bottom right;
  cursor: pointer;
}

a.panel-a h1 {
  font-family: 'Publico';
  margin-top: 0;
}

a.panel-a:hover {
  color: #272f54 !important;
  background-color: #cb9859;
  text-decoration: none;
  border-bottom: 7px solid #272f54;
}

.a1 {
  background-image: url(assets/images/icons/01.png);
}

.a2 {
  background-image: url(assets/images/icons/02.png);
}

.a3 {
  background-image: url(assets/images/icons/03.png);
}

.a4 {
  background-image: url(assets/images/icons/04.png);
}

.a5 {
  background-image: url(assets/images/icons/05.png);
}

.a6 {
  background-image: url(assets/images/icons/06.png);
}

.a7 {
  background-image: url(assets/images/icons/07.png);
}

.a8 {
  background-image: url(assets/images/icons/08.png);
}

.a9 {
  background-image: url(assets/images/icons/09.png);
}

/*** How It Works ***/
.how-it-works {
  color: #272f54;
  padding-bottom: 50px;
  padding-top: 25px;
}

.how-it-works header {
  padding: 25px 0;
}

.how-it-works h1, .how-it-works h3 {
  font-family: 'Publico';
  margin: 0 0 10px;
}

.how-it-works p {
  color: #000;
}

.how-it-works .info {
  background-repeat: no-repeat;
  padding-left: 95px;
  padding-bottom: 20px;
}

.how-it-works .first-bg {
  background-image: url(assets/images/icons/form-1.png);
}

.how-it-works .second-bg {
  background-image: url(assets/images/icons/form-2.png);
}

.how-it-works .third-bg {
  background-image: url(assets/images/icons/form-3.png);
}

/*** Footer ***/
.copyright {
  background-color: #272f54;
  color: #CCC;
  padding: 35px 0;
  border-top: 10px solid #cb9859;
  position: absolute;
  bottom: 0;
  height: 207px;
  width: 100%;
  font-size: 13px;
}

.copyright p {
  margin: 0;
}

.copyright p a {
  margin: 0 5px;
}

.copyright p:last-child {
  margin-top: 10px;
}

/*** Newsletter ***/
.newsletter {
  padding-bottom: 20px;
  width: 30%;
  margin: auto;
}

.newsletter input {
  background: transparent;
}

/*** 404 Error View ***/
.error-section {
  padding: 100px 0;
  letter-spacing: 1px;
}

/*** Page View ***/
#slideshow.page-view {
  height: auto;
}

#slideshow.page-view .container {
  padding: 151px 0 70px;
}

#page-view.main-section {
  padding: 50px 0;
}

.progress-steps {
  padding: 50px 0 45px;
}

.progress-steps .container {
  border: 1px solid #cb9859;
}

.progress-steps .step {
  background-color: #272f54;
  color: #FFF;
  padding: 10px;
  margin: 10px 0;
  border-bottom: 7px solid #cb9859;
}

.progress-steps .step span {
  font-family: 'Publico';
  font-size: 25px;
  margin-right: 15px;
  vertical-align: middle;
}

.progress-steps .step p {
  margin: 0;
}

.contact-form-inner {
  overflow: hidden;
  padding: 10px;
  width: 70%;
  margin: 35px auto 0;
}

.contact-form-inner input, .contact-form-inner textarea {
  width: 100%;
  padding: 5px;
  font-size: 13px;
}

.form-row {
  margin: 5px 0;
}

.form-btn {
  width: auto !important;
  background-color: #272f54;
  border: 0;
  border: 0;
  color: #FFF;
  padding: 10px 20px;
  width: 80%;
  text-transform: uppercase;
  margin: 25px 0 15px;
  cursor: pointer;
  transition: background 0.25s ease-out 0s;
}

.form-btn:hover {
  color: #272f54;
  background-color: #DDD;
}

/*** Profile View ***/
#profile-view {
  background-color: #FFF;
}

.profile-form {
  padding: 30px 0 20px;
}

/*** Blog ***/
.news-list {
  padding: 0 100px;
}

.news-list h1 {
  margin-top: 0;
}

.news-list .news-item {
  border-bottom: 1px solid #cb9859;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.news-list .news-item:last-child {
  border-bottom: 0;
}

/*** Modals ***/
.pac-container {
  z-index: 9999999999999999999;
}
.modal-content {
  border-radius: 0 !important;
}

.modal-body {
  padding: 0 !important;
}

.modal-body header {
  background-color: #EEE;
  padding: 40px 20px;
}

.modal-body h2, .profile-form h2 {
  font-size: 23px;
  color: #575757;
  margin: 30px 0;
}

.modal-body p, .profile-form p {
  font-size: 12px;
  color: #575757;
  margin: 10px 0;
}

.modal-body input, .modal-body select, .profile-form input, .newsletter input {
  width: 80%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #DDD;
  outline: none;
  text-align: center;
  margin: auto;
}

.horizontal[_nghost-c2] {
  display: none!important;
}

/*** Mobile version ***/
@media (max-width: 768px) {
  .main-menu {
    display: none;
  }
  #slideshow {
    padding: 0 20px;
  }
  #slideshow .container {
    padding: 140px 0 70px;
  }
  #slideshow h1 {
    font-size: 45px;
  }
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .info {
    margin: 20px 0;
  }
  .news-list {
    padding: 0 30px;
  }
  .modal-open .modal {
    padding: 0!important;
  }
  .modal form {
    padding: 0 10px;
  }
}
